h3 {
  background-color: #fafafa;
  position: sticky;
  top: 0px;
  z-index: 1;

  @media (max-width: 720px) {
    margin-block-start: 0em;
    margin-block-end: 0;
  }
}



.event-info {
  display: flex;
  flex-direction: column;

  img {
    max-width: 120px;
    max-height: 120px;
  }

  @media (max-width: 720px) {
    flex-direction: row;

    img {
      max-width: 80px;
      max-height: 80px;
      margin-left: 15px;
    }
  }
}





.registered {
  background-color: lightgreen !important;
}