<div class="full-page">
  <div *ngIf="!isDialog() && !fromMap">
    <button
      mat-raised-button
      color="primary"
      (click)="addTask()"
      *ngIf="isDispatcher()"
    >
      הוספת נסיעה
    </button>
    <app-dots-menu [buttons]="buttons" *ngIf="isDispatcher()"></app-dots-menu>
    <data-area [settings]="area"></data-area>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      "
      *ngIf="!showMap"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="sortByDistance()"
        *ngIf="showLocation"
      >
        {{
          !volunteerLocation
            ? 'למעבר לתצוגה לפי מרחק'
            : 'למעבר לתצוגה לפי תאריך'
        }}
      </button>
      <button mat-raised-button (click)="toggleShowMap(true)">מפה</button>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="isDialog()">
    {{ title }}
  </div>
  <div *ngIf="showMap" class="grow-item" style="position: relative">
    <app-noam-test [tasks]="filteredTasks"></app-noam-test>
    <button
      mat-raised-button
      style="position: absolute; left: 10px; top: 10px"
      (click)="toggleShowMap(false)"
    >
      חזרה לרשימה
    </button>
  </div>
  <div *ngIf="!showMap" [class.grow-item]="!fromMap">
    <div *ngFor="let d of urgencies">
      <ng-container *ngIf="hasEvents(d)">
        <strong *ngIf="urgencies.length > 1">{{ d.urgency }}:</strong>
        <div class="events-container" [transition-group]="'flip-list'">
          <ng-container *ngFor="let e of d.events; trackBy: trackBy">
            <mat-card
              transition-group-item
              class="event-card"
              [class.registered]="isRegisteredToEvent(e) && showingAllTasks"
              *ngIf="filter(e)"
            >
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 10px;
                "
              >
                <strong (click)="eventDetails(e)">
                  {{ e.title }}
                </strong>
                <a (click)="eventDetails(e)" *ngIf="!isFull(e) && fromMap">{{
                  'לפרטים והרשמה'
                }}</a>
                <app-dots-menu
                  [item]="e"
                  [buttons]="menuOptions"
                  *ngIf="isDispatcher() && !fromMap"
                ></app-dots-menu>
              </div>
              <div class="event-info" (click)="eventDetails(e)">
                <div class="event-detail">
                  {{ e.category?.caption || '' }}{{ distance(e) }}
                  <span>
                    {{ eventCity(e) }}
                    <span *ngIf="e.toAddressApiResult">
                      => {{ eventToCity(e) }} ({{ travelDistance(e) }})</span
                    >
                  </span>
                  <div>
                    <strong>{{ displayDate(e) }}</strong>
                  </div>
                  <div style="color: gray">מספר {{ e.externalId }}</div>

                  <a *ngIf="!isFull(e) && !fromMap">{{ 'לפרטים והרשמה' }}</a>
                  <strong *ngIf="isFull(e)">
                    {{ e.taskStatus.caption }}
                  </strong>
                </div>
              </div>
            </mat-card>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
