<div class="full-page">
  <div>
    <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)">
      <mat-tab label="נסיעות שלי"></mat-tab>
      <mat-tab label="חיפוש נסיעה"></mat-tab>
      <mat-tab label="כל הנסיעות" *ngIf="isDispatcher()"> </mat-tab>
    </mat-tab-group>

    <button
      mat-raised-button
      color="primary"
      (click)="addTask()"
      *ngIf="isDispatcher()"
    >
      הוספת נסיעה
    </button>
  </div>

  <div class="grow-item">
    <data-grid
      *ngIf="allRides && activeTab == 2"
      [settings]="allRides"
    ></data-grid>
    <ng-container *ngIf="activeTab != 2">
      <ng-container *ngIf="events.length != 1 || isDispatcher()">
        <app-event-card [tasks]="events"></app-event-card>
      </ng-container>
      <div style="display: flex; justify-content: center">
        <mat-card
          *ngIf="events.length == 1 && !isDispatcher()"
          style="max-width: 300px"
        >
          <app-event-info [e]="events[0]" [noClose]="true"></app-event-info>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
