<div class="full-page">
  <div>
    <mat-tab-group
      #tabGroup
      (selectedTabChange)="onTabChange($event)"
      [selectedIndex]="activeTab"
    >
      <mat-tab label="נסיעות שלי" *ngIf="!isPublicView()"></mat-tab>
      <mat-tab label="{{taskSearchTabName()}}"></mat-tab>
      <mat-tab label="נסיעות פעילות" *ngIf="isDispatcher() && !isPublicView()"> </mat-tab>
    </mat-tab-group>
  </div>

  <div class="grow-item">
    <app-event-card
      [tasks]="events"
      [showingAllTasks]="activeTab != 0"
    ></app-event-card>
  </div>
</div>
