<div *ngIf="!remult.authenticated() && !doesNotRequireLogin()">
  <app-card-in-middle>
    <div style="display: flex; flex-direction: column">
      <div style="align-self: center">
        <img src="assets/logo.png" height="150px" />
      </div>
      <strong style="align-self: center">{{ title }}</strong>

      <h2>כניסה</h2>
      <data-area [settings]="area"> </data-area>
      <button mat-raised-button color="primary" (click)="doSignIn()">
        כניסה
      </button>
    </div>
  </app-card-in-middle>
</div>
<div
  style="display: flex; flex-direction: column"
  *ngIf="doesNotRequireLogin() && !remult.authenticated()"
>
  <div style="align-self: center">
    <img src="assets/logo.png" height="150px" />
  </div>
  <strong style="align-self: center">{{ title }}</strong>

  <router-outlet></router-outlet>
</div>

<div
  style="height: 100%; display: flex; flex-direction: column"
  *ngIf="remult.authenticated()"
>
  <mat-toolbar color="primary" style="flex-shrink: 0">
    <div>
      <div
        [matBadge]="updates.waitingUpdates"
        [matBadgeHidden]="!updates.waitingUpdates"
        matBadgeOverlap="false"
        matBadgePosition="below before"
        matBadgeColor="accent"
        class="alert-badge"
      ></div>
      <div
        [matBadge]="drafts"
        [matBadgeHidden]="!drafts"
        matBadgeColor="warn"
        matBadgePosition="below before"
        class="draft-badge"
      >
        <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
    <span class="toolbar-title">{{ currentTitle() }}</span>
    <ng-container *ngIf="remult.authenticated()">
      <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
        {{ remult.user!.name }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateInfo()">
          {{ terms.updateInfo }}
        </button>

        <button mat-menu-item (click)="signOut()">{{ terms.signOut }}</button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      #sidenav
      class="app-sidenav mat-elevation-z10 no-print"
      [opened]="!uiService.isScreenSmall()"
      [mode]="uiService.isScreenSmall() ? 'over' : 'side'"
    >
      <div style="width: 100%; text-align: center"></div>
      <h4 *ngIf="remult.authenticated()">
        {{ terms.hello }} {{ remult.user!.name }}
      </h4>
      <mat-nav-list role="list">
        <ng-container *ngFor="let m of router.config">
          <mat-list-item
            *ngIf="shouldDisplayRoute(m)"
            routerLinkActive="active-route"
          >
            <a matLine [routerLink]="m.path" (click)="routeClicked()">{{
              routeName(m)
            }}</a>
          </mat-list-item>
        </ng-container>
        <mat-list-item routerLinkActive="active-route" *ngIf="showAddTrip()">
          <a
            matLine
            [routerLink]="['/intake']"
            (click)="routeClicked()"
            class="alert-line-badge"
            [matBadge]="updates.waitingUpdates"
            [matBadgeHidden]="!updates.waitingUpdates"
            matBadgeColor="warn"
            matBadgePosition="above after"
            >הוספת נסיעה</a
          >
        </mat-list-item>
        <mat-list-item routerLinkActive="active-route" *ngIf="isDispatcher()">
          <a
            matLine
            [routerLink]="['/עדכונים']"
            (click)="routeClicked()"
            class="alert-line-badge"
            [matBadge]="updates.waitingUpdates"
            [matBadgeHidden]="!updates.waitingUpdates"
            matBadgeColor="warn"
            matBadgePosition="above after"
            >עדכונים</a
          >
        </mat-list-item>
        <mat-list-item routerLinkActive="active-route" *ngIf="isTrainee()">
          <a
            matLine
            [matBadge]="drafts"
            [matBadgeHidden]="!drafts"
            [routerLink]="['/טיוטות']"
            (click)="routeClicked()"
            class="draft-line-badge"
            matBadge="99"
            matBadgeColor="warn"
            matBadgePosition="above after"
            >טיוטות</a
          >
        </mat-list-item>

        <mat-list-item *ngIf="showCopyLink()" routerLinkActive="active-route">
          <a matLine (click)="copyBikeIlLink()">העתק קישור לטופס</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="app-sidenav-content">
      <div class="wrapper" style="height: 100%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>
